.spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(88, 155, 185);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }