<div *ngIf="showLoader" class="spinner" style="margin-top:30%;margin-left: 45%;">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>



<app-header *ngIf="!showLoader"></app-header>
<div *ngIf="!showLoader" style="margin-top: 5%;" class="container">
    <h1>History of Logs</h1>
    <table class="table" style="margin-top:5%">
        <thead>
          <tr>
            <th scope="col">IP</th>
            <th scope="col">Continent</th>
            <th scope="col">Country</th>
            <th scope="col">Country_code</th>
            <th scope="col">Region</th>
            <th scope="col">Region_code</th>
            <th scope="col">city</th>
          </tr>
        </thead>
        <tbody *ngFor="let instance of information">
            <tr>
    
                <td>{{instance.IP}}</td>
                <td>{{instance.continent}}</td>
                <td>{{instance.country}}</td>
                <td>{{instance.countryCode}}</td>
                <td>{{instance.region}}</td>
                <td>{{instance.regionCode}}</td>
                <td>{{instance.city}}</td>
            </tr>
        
        </tbody>
      </table>
</div>