<div class="container" style="width:100%;display:flex;justify-content: space-between;align-items:flex-end;">
    <div style="display:flex">
      <img src="/assets/dux_logo.png" style="width:80px">
      <a class="leftlinks" [routerLink]="['/history']">History</a>
      <a class="leftlinks" [routerLink]="['/dashboard']">Dashboard</a>
    </div> 
    
    <div style="display:flex">
        <h4>Welcome {{username}} </h4>
        <a class="logout" (click)="logout()">Logout</a>
    </div>
  
  
  </div>