<div class="container" style="width:100%;display:flex;justify-content: space-between;align-items:flex-end;">
    <div style="display:flex">
      <img src="/assets/dux_logo.png" style="width:80px">
      <a class="leftlinks">History</a>
      <a class="leftlinks">Dashboard</a>
    </div> 
    
    <div style="display:flex">
        <h4>Welcome {{username}} </h4>
        <a class="logout" (click)="logout()">Logout</a>
    </div>


</div>

<div class="container1">
    <label for="IP">Enter your IP here</label>
    <input #IPaddress style="border:1px solid grey" type="email" class="form-control"  placeholder="Enter IP">
    <button (click)="submitIP()" class="btn btn-primary" style="margin-top:1%">Submit</button>



    <table class="table" style="margin-top:5%">
        <thead>
          <tr>
            <th scope="col">IP</th>
            <th scope="col">Continent</th>
            <th scope="col">Country</th>
            <th scope="col">Country_code</th>
            <th scope="col">Region</th>
            <th scope="col">Region_code</th>
            <th scope="col">city</th>
          </tr>
        </thead>
        <tbody *ngFor="let instance of IPinformation">
            <tr>
    
                <td>{{instance.ip}}</td>
                <td>{{instance.Continent}}</td>
                <td>{{instance.Country}}</td>
                <td>{{instance.Country_code}}</td>
                <td>{{instance.Region}}</td>
                <td>{{instance.Region_code}}</td>
                <td>{{instance.city}}</td>
            </tr>
        
        </tbody>
      </table>
  
</div>

<router-outlet></router-outlet>

